<div class="sub-header">
  <div class="container">
    <div class="sub-header__inner">
      <div class="sub-header__time">
        <div class="sub-header__time-day">Пн-Сб:</div>
        <div class="sub-header__time-clock"> 08:00 - 16:00</div>
      </div>
      <div class="sub-header__content">
        <div class="sub-header__content-text">Відвідайте наш магазин за адресою, Морозова 11.</div>
        <div class="sub-header__content-call">Подзвонити</div>
      </div>
      <div class="sub-header__telephone">
        <div class="sub-header__telephone-text">Подзвонити:</div>
        <div class="sub-header__telephone-number">(095) 0000 1111</div>
      </div>
    </div>
  </div>
</div>
