@import 'src/assets/scss/setting';

.sub-header {
  font-family: $nunito_semibold;
  background-color: #002250;
  width: 100%;
  font-size: 12px;
  font-weight: 600;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
  }

  &__logo {
    display: none;
  }

  &__time {
    display: flex;
    justify-content: space-between;


    &-day {
      color: $dark_white;
      margin-right: 4px;
    }
    &-clock {
      color: $white;
    }
  }

  &__content {
    display: flex;
    &-text {
      color: $dark-white;

      @media screen and (max-width: 960px) {
        display: none;
      }
    }
    &-call {
      margin-left: 4px;
      text-decoration: underline;
      color: $white;
      cursor: pointer;
    }


  }

  &__telephone {
    @media screen and (max-width: 960px) {
      display: none;
    }
    display: flex;
    color: $dark-white;
    cursor: pointer;
    &-text{
      margin-right: 4px;
    }
  }

  @media screen and (max-width: 960px) {
    height: 40px;
    padding-left: 64px;
    position: relative;

    &__inner {
      padding: 10px 14px;
    }

    &__logo {
      position: absolute;
      display: block;
      width: 64px;
      height: 64px;
      background: $white;
      border-radius: 50% 50% 0 0;
      left: 10px;
      top: 0;
      img {
        transform: scale(0.7); /* Увеличиваем изображение в 1.5 раза */
        transform-origin: center;

      }
    }
  }
}
