<div class="sub-header">
  <div class="container">
    <div class="sub-header__inner">

      <div class="sub-header__logo" routerLink="/">
        <img src="assets/images/Smakolyc_1.png" alt="logo">
      </div>

      <div class="sub-header__time">
        <div class="sub-header__time-day">Пн-Сб:</div>
        <div class="sub-header__time-clock"> 08:00 - 16:00</div>
      </div>
      <div class="sub-header__content">
        <div class="sub-header__content-text">Відвідайте наш магазин за адресою, Морозова 11.</div>
        <a class="sub-header__content-call" href="tel:0638686866">Подзвонити</a>
      </div>
      <div class="sub-header__telephone">
        <a class="sub-header__telephone-text" href="tel:0638686866">Подзвонити:</a>
        <a class="sub-header__telephone-number" href="tel:0638686866">(063) 8686 866</a>
      </div>
    </div>
  </div>
</div>
