@import "src/assets/scss/setting";

.product {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 700px;
    height: auto;
    overflow: hidden;
  }

  &__img img {
    max-width: 680px;
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (max-width: 1220px) {
      max-width: 450px;
    }
    @media screen and (max-width: 1051px) {
      max-width: 350px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $nunito_semibold;
    font-weight: 400;
    font-size: 48px;
    max-width: 563px;
  }

  &__availability {
    display: flex;
    align-items: center;
    font-family: $nunito_regular;
    font-weight: 400;
    font-size: 16px;
    color: #5EB935;
    margin-top: 8px;

    img {
      width: 10px;
      height: 10px;
      margin-right: 3px;
    }

    &-not {
      color: #F44336;
      display: flex;
      align-items: center;
      font-family: $nunito_regular;
      font-weight: 400;
      font-size: 16px;
      width: auto;
      margin-top: 8px;

      img {
        max-width: 10px;
        max-height: 10px;
        margin-right: 3px;
      }
    }
  }


  &__availability img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 40px;
    font-family: $nunito_regular;
    font-weight: 400;

    &-text {
      font-size: 24px;
      color: $textColor;
    }

    &-sale {
      font-size: 24px;
      color: $textAdditional;
      text-decoration: line-through;
      margin: 0 15px;
    }

    &-value {
      font-size: 42px;
      color: $textColor;
    }
  }

  &__count {
    display: flex;
    max-width: 210px;
    height: 60px;
    margin-top: 34px;

    &-plus, &-minus {
      width: 65px;
      border: 1px solid #DDDCDF;
      background: $white;
      cursor: pointer;
      color: #DDDCDF;

      &:hover {
        transition: 0.2s;
        color: $dark_blue;
      }
    }
  }
}

.details {
  max-width: 550px;
  width: auto;
  height: auto;
  margin-top: 40px;
  border: 1px solid $dark_white;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (max-width: 960px) {
    width: 100%;
  }

  &__title {
    max-height: 62px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #F5F7FF;
    padding: 10px 24px;
    font-family: $nunito_semibold;
    font-weight: 400;
    font-size: 24px;

    @media screen and (max-width: 550px) {
      font-size: 16px;
      font-weight: 600;
    }


    &-desk {
      position: relative;
      border: none;
      background: none;
      cursor: pointer;
      margin-right: 48px;

      &:before {
        content: "";
        position: absolute;
        left: 90px;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: $textColor;
        border-radius: 4px;

        @media screen and (max-width: 550px) {
          left: 80px;
        }
      }

    }
    &-characteristic {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__desk {
    width: auto;
    margin-top: 24px;
    padding: 0 16px 16px 16px;

    &--text {
      font-family: $nunito_regular;
      font-weight: 400;
      font-size: 16px;
      color: $textColor;

      @media screen and (max-width: 550px) {
        font-size: 14px;
      }
    }
  }
}



.characteristic {
  font-family: $nunito_regular;
  font-weight: 400;
  font-size: 16px;

  &__list {
    margin-top: 24px;
    padding: 0 16px 16px 16px;
  }


  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    border-radius: 4px;

    @media screen and (max-width: 550px) {
      padding: 10px 10px;
    }

    div {
      width: 50%;
      text-align: left;
    }

    &:nth-child(odd) {
      background: #F5F7FF;
    }

    &:nth-child(even) {
      background: $white;
    }
  }
}

.selected {
  color: $textColor;
}

.not-selected {
  color: #9BA6B8;
}



.mobile-product {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 26px;
  }
  &__title {
    font-family: $nunito_bold;
    font-weight: 700;
    font-size: 24px;
    max-width: 563px;
    text-align: center;
    line-height: 25px;
  }

  &__img {
    margin-top: 24px;

    img {

      width: 344px;
      height: 299px;
    }
  }

  &__availability {
    display: flex;
    align-items: center;
    font-family: $nunito_regular;
    font-weight: 400;
    font-size: 16px;
    color: #5EB935;
    margin-top: 8px;

    img {
      width: 10px;
      height: 10px;
      margin-right: 3px;
    }

    &-not {
      color: #F44336;
      display: flex;
      align-items: center;
      font-family: $nunito_regular;
      font-weight: 400;
      font-size: 16px;
      width: auto;
      margin-top: 8px;

      img {
        max-width: 10px;
        max-height: 10px;
        margin-right: 3px;
      }
    }
  }


  &__availability img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &__price {
    max-width: 340px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;

    &-text {
      font-family: $nunito_regular;
      font-weight: 400;
      font-size: 24px;
    }

    &-sale {
      font-size: 16px;
      color: $textAdditional;
      text-align: left;
      text-decoration: line-through;

      i {
        font-size: 16px;
      }
    }

    &-value {
      font-size: 24px;
      color: $textColor;
      font-weight: 600;

      i {
        font-size: 24px;
      }
    }
  }
}


