<nav class="menu">
  <ul class="menu__list">
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('categories')">Категорії</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('delivery')">Доставка</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('reviews')">Відгуки</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('cooperation')">Співпраця</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" (click)="scrollHandler('contact')">Контакти</a>
    </li>
  </ul>
</nav>
