<nav class="menu">
  <ul class="menu__list">
    <li class="menu__list-item">
      <a class="menu__list-link">Категорії</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link">Доставка</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link">Відгуки</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link">Співпраця</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link">Контакти</a>
    </li>
  </ul>
</nav>
