@import '../../../../../assets/scss/setting';

.menu {
  font-family: $nunito_bold;
  font-weight: 700;
  font-size: 16px;


  &__list {
    width: 100%;
    display: flex;

    &-item {
      padding-inline: 20px;
    }

    &-link {
      cursor: pointer;

      &:hover {
        color: $dark_blue;
        transition-delay: 0.2s;
      }
    }
  }

  @media screen and (max-width: 960px) {
    font-size: 28px;

    &__list {
      position: relative;
      flex-direction: column;
      margin-top: 24px;
      padding: 24px 16px;

      &:before {
        content: '';
        position: absolute;
        width: 95%;
        height: 2px;
        background: #CACDD8;
        top: -12px;
        right: 12px;

      }

      &-item {
        margin-top: 16px;
        text-align: center;
      }
    }



  }
}



