@import "src/assets/scss/setting";

.breadcrumbs {
  font-family: $nunito_semibold;
  font-weight: 400;
  font-size: 18px;
  color: $dark_blue;
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  line-height: 1;
  margin-right: 30px;


  @media screen and (max-width: 960px) {
    a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 350px;
      display: inline-block;
    }
  }

}



.breadcrumbs li:not(:first-child) a::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -12px;
  top: -7px;
  width: 4px;
  height: 8px;
  background-image: url("../../../../assets/icons/breadcrumbs-icon.svg");
  background-size: cover;
  margin-top: 13px;
}

.breadcrumbs li:last-child {
  color: $textColor;
}

@media screen and (max-width: 600px) {
  .breadcrumbs-list li:not(:first-child) a::before {
    display: none;
  }

  .breadcrumbs-list li {
    margin-right: 20px; /* Уменьшаем отступы между элементами breadcrumbs для мобильных экранов */
  }
}
