@import "src/assets/scss/setting";

.breadcrumbs {
  font-family: $nunito_semibold;
  font-weight: 400;
  font-size: 18px;
  color: $dark_blue;
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  line-height: 1;
  margin-right: 30px;
}



.breadcrumbs li:not(:first-child) a::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -12px;
  top: -7px;
  width: 4px;
  height: 8px;
  background-image: url("../../../../assets/icons/breadcrumbs-icon.svg");
  background-size: cover;
  margin-top: 13px;
}

.breadcrumbs li:last-child {
  color: $textColor;
}
