<footer class="footer">
  <div class="container">
    <div class="footer__content">
<!--      <div class="footer__logo"><a routerLink="/" class="footer__logo">-->
<!--        <img class="footer__logo-img" src="assets/images/logo.png" alt="logo">-->
<!--      </a></div>-->
      <div class="footer__social">
        <a href="https://t.me/smakolyc"><i class="fab fa-telegram"></i></a>
        <a href="https://instagram.com/smakolyc.ua" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="mailto:smakolyc@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="tel:0638686866"><i class="fas fa-phone-square"></i></a>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2023 Всі права захищені</p>
    </div>
  </div>
</footer>
