<app-breadcrumbs></app-breadcrumbs>

<section class="cart">
  <div class="container" *ngIf="cartList.length; else emptyCart">
    <div class="cart__title">
      <img src="assets/icons/title-icon/cart-icon.svg" alt="cart-icon">
      <h1 class="title title-one">Кошик</h1>
    </div>
    <div class="cart__inner" >
      <div class="cart__item" *ngFor="let item of cartList">
        <img class="cart__item-img" [src]="item?.image" [alt]="item?.name">
        <div class="cart__item-name">{{item.name}}</div>
        <div class="cart__item-count">{{item.count}}</div>
        <div class="price-block">
          <div class="price-block__sale" *ngIf="item?.sale_price"><i class="fas fa-hryvnia"></i>{{item?.price}}
          </div>
          <div class="price-block__price"><i class="fas fa-hryvnia"></i>{{item?.sale_price || item?.price}}
          </div>
        </div>
        <app-product-counter [isDelete]="true" [product]="item" [count]="item.count"></app-product-counter>
        <button class="cart__item-btn" (click)="removeItemFormCart(item)">
        </button>
      </div>
    </div>

    <div class="cart__controller">
      <button class="cart__controller-back btn">Повернутися до покупок</button>
      <div class="cart__controller-sum">Разом: <span><i class="fas fa-hryvnia"></i>{{totalPrice}}</span></div>
      <button class="cart__controller-issue btn"><a routerLink="/checkout">Оформити замовлення</a></button>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="container">
      <div class="cart__inner">
        <img src="/assets/images/cart-empty.svg" alt="cart-empty">
        <div class="cart__empty-text">
          У вашому кошику немає товарів
        </div>
        <button class="btn">Повернутися до покупок</button>
      </div>
    </div>
  </ng-template>

</section>
