<div class="product-card">
  <img class="product-card__img" [src]="product?.image" [alt]="product?.name" (click)="redirectToProductPage()">
  <div class="product-card__name" (click)="redirectToProductPage()">{{product?.name}}</div>
  <div class="product-card__price">
    <div class="product-card__price-sale" *ngIf="product?.sale_price"><i class="fas fa-hryvnia"></i>{{product?.price}}</div>
    <div class="product-card__price"><i class="fas fa-hryvnia"></i>{{product?.sale_price || product?.price}}</div>
  </div>
  <app-product-in-cart-button [product]="product"></app-product-in-cart-button>
  <div class="product-card__availability" *ngIf="this.product?.in_stock; else notInStock">
    <img src="assets/icons/availability.svg" alt="availability"> в наявності</div>
  <ng-template #notInStock>
    <div class="product-card__availability-not">
      <img src="assets/icons/availability-not.svg" alt="availability"> немає в наявності</div>
  </ng-template>
</div>
