<app-sub-header></app-sub-header>
<header class="header">
  <div class="container">
    <div class="header__inner">
      <a routerLink="/" class="header__logo">
        <img class="header__logo-img" src="assets/images/logo.png" alt="logo" >
      </a>
      <app-menu *ngIf="!isHideAppMenu"></app-menu>
      <app-search [class.long]="isHideAppMenu"></app-search>
      <a routerLink="/cart" class="header__cart" type="submit">
        <img src="assets/icons/cart_icon.png" alt="cart-icon">
      </a>
    </div>
  </div>
</header>
