<app-sub-header></app-sub-header>
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div (click)="scrollHandler()" class="header__logo">
        <img class="header__logo-img" src="assets/images/logo.png" alt="logo">
      </div>

      <!--    burger -->
      <div class="header__burger" *ngIf="isMobile && !isHideNavMenu" [class.open]="!burgerIsClose" (click)="toggleBurger()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
        <app-menu *ngIf="!isHideNavMenu && !isMobile"></app-menu>
        <app-search class="hide" [class.long]="!isHideSearch" [isDisabled]="!isHideNavMenu"></app-search>
      <a routerLink="/cart" class="header__cart" type="submit">
        <div *ngIf="cartCounter">{{cartCounter}}</div>
        <img src="assets/icons/cart_icon.png" alt="cart-icon">
      </a>
    </div>





  </div>
</header>
