@import "src/assets/scss/setting";

.banner {
  width: 100%;
  margin-top: 47px;

  &__inner {
    padding: 50px;
    background: rgb(63,146,250);
    background: linear-gradient(13deg, rgba(63,146,250,1) 1%, rgba(255,255,255,1) 29%);
  }

  &__title {
    font-family: $nunito_semibold;
    font-weight: 600;
    font-size: 42px;
    color: $black;
  }

  &__text {
    font-family: $nunito_regular;
    font-weight: 400;
    font-size: 22px;
    color: $black;
  }

  &__country {
    display: flex;
    justify-content: space-between;
    max-width: 202px;
    margin-top: 16px;

    img {
      max-width: 40px;
      max-height: 40px;
      margin-right: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 26px;

    p {
      font-family: $nunito_light;
      font-weight: 300;
      font-size: 18px;
      color: $black;
    }

    b {
      color: $dark_blue;
    }
  }

  /* Медиа-запросы для адаптации на различных экранах */

  /* При ширине экрана до 768px */
  @media screen and (max-width: 768px) {
    &__inner {
      padding: 30px; /* Уменьшаем отступы для мобильных устройств */
    }

    &__title {
      font-size: 22px; /* Уменьшаем размер заголовка для мобильных устройств */
    }

    &__text {
      font-size: 14px; /* Уменьшаем размер текста для мобильных устройств */
    }

    &__country {
      max-width: 160px; /* Уменьшаем максимальную ширину для мобильных устройств */
      margin-top: 12px; /* Уменьшаем отступ сверху для мобильных устройств */

      img {
        max-width: 32px; /* Уменьшаем размер иконок стран для мобильных устройств */
        max-height: 32px;
        margin-right: 12px; /* Уменьшаем отступ между иконками стран для мобильных устройств */
      }
    }

    &__info {
      max-width: 400px; /* Уменьшаем максимальную ширину для мобильных устройств */

      p {
        font-size: 14px;
      }
    }
  }

  /* При ширине экрана до 576px */
  @media screen and (max-width: 576px) {
    &__title {
      font-size: 16px; /* Уменьшаем размер заголовка для маленьких экранов */
    }

    &__text {
      font-size: 14px; /* Уменьшаем размер текста для маленьких экранов */
    }
    &__info {
      p {
        font-size: 14px;
      }
    }
  }
}

.bestseller {
  margin-top: 52px;

  &__title {
    display: flex;
    margin-bottom: 28px;

    @media screen and (max-width: 960px) {
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__inner {
    width: 100%;



    app-loader {
      height: 360px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: auto;

  }
}


.product {
  margin-top: 70px;
  width: 100%;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @media screen and (max-width: 600px) {

      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

  }

  &__item {
    position: relative;
    width: auto;
    min-height: 350px;
    z-index: 1;

    &-link {
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        bottom: 0;
        right: 0;

        object-fit: contain;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0.6;
      transition: 0.3s;
      background-position: revert;


    }

    &:hover:before {
      opacity: 1;
    }

    &:nth-child(1):before {
      background-image: url("../../../../../src/assets/images/cheese-bg.svg");

    }

    &:nth-child(2):before {
      background-image: url("../../../../../src/assets/images/butter-bg.svg");
    }

    &:nth-child(3):before {
      background-image: url("../../../../../src/assets/images/milk-bg.svg");
    }

    &:nth-child(4):before {
      background-image: url("../../../../../src/assets/images/meat-bg.svg");
    }

    &:nth-child(5):before {
      background-image: url("../../../../../src/assets/images/grocery-bg.svg");
    }

    &:nth-child(6):before {
      background-image: url("../../../../../src/assets/images/snacks-bg.svg");
    }
  }

  /* Медиа-запрос для вывода двух столбцов на узких экранах */
  @media screen and (max-width: 1024px) {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }
    &__item {
      min-height: 320px;
    }

    img {
      max-height: 250px;
    }
  }
  @media screen and (max-width: 600px) {
    &__inner {
      grid-template-columns: 1fr 1fr;
    }
    &__item {
      min-width: 164px;
      min-height: 129px;
    }
    img {
      max-height: 90px;
    }
  }
}

.delivery {
  margin-top: 50px;

  &__title {
    display: flex;
    align-items: center;
    @media screen and (max-width: 960px) {
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-around;

    margin-top: 10px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &-text {
      max-width: 900px;
      font-family: $nunito_light;
      font-weight: 300;
      font-size: 24px;
      text-align: justify;

      @media (max-width: 600px) {
        font-size: 14px;
      }


      @media (min-width: 601px) and (max-width: 1024px) {
        font-size: 18px;
      }
    }

    &-active {
      font-family: $nunito_semibold;
      font-weight: 600;
      font-size: 18px;
      color: $textColor;
      margin: 15px 0 30px 0;

      > a {
        display: inline;
        border-bottom: solid $black;
      }

      @media (max-width: 600px) {
        text-align: right;
        font-size: 14px;
      }


      @media (min-width: 601px) and (max-width: 1024px) {
        text-align: right;
        font-size: 16px;
      }
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    &-text {
      font-family: $nunito_light;
      font-weight: 300;
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 14px;
      }


      @media (min-width: 601px) and (max-width: 1024px) {
        font-size: 18px;
      }
    }

    &-wrap {
      @media (max-width: 1024px) {
        margin-top: 16px;
        text-align: right;
      }
    }
  }
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 128px;

  &__inner {
    width: 100vw;
    height: auto;
    background: linear-gradient(266.41deg, #EAECFE 0%, #BEC5FF 100%);
    padding: 45px 20px;

    @media (min-width: 768px) {
      width: 100vw;
      padding: 45px 50px;
    }

    @media (min-width: 1024px) {
      width: 1150px;
      padding: 45px 150px 78px 112px;
    }
  }

  &__img {
    width: 65px !important;
    height: 38px;
    margin-bottom: 16px;

    @media screen and (max-width: 960px) {
      width: 22px !important;
      height: 12px;
    }
  }

  &__text {
    font-family: $nunito_regular;
    font-weight: 400;
    font-size: 18px;
    margin-left: 60px;

    @media screen and (max-width: 960px) {
      font-size: 14px;
    }
  }

  &__name {
    font-family: $nunito_light;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin-top: 16px;
  }
}

::ng-deep .owl-carousel {
  .owl-dots {
    margin-top: 20px !important;
    text-align: right;
    transform: translateX(40px);

    @media (max-width: 768px) {
      transform: translateX(10px);
    }



    .owl-dot {
      padding-inline: 10px;
      width: 12px;
      height: 12px;

      span {
        background: #C2C8FF;
      }

      &.active {
        span {
          background: $dark_blue;
        }
      }
    }
  }
}


.cooperation {

  &__title {
    display: flex;
    margin-top: 128px;
    align-items: center;

    @media screen and (max-width: 960px) {
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

    @media (max-width: 1320px) {
      flex-direction: column;
    }


    &-text {
      max-width: 920px;
      font-family: $nunito_light;
      font-weight: 300;
      font-size: 24px;
      color: $textColor;
      text-align: justify;

      @media (max-width: 1320px) {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  &__order {
    @media (max-width: 1320px) {
      margin-top: 14px;
      text-align: right;
    }

    &-text {
      font-family: $nunito_light;
      font-weight: 300;
      font-size: 24px;
      color: $textColor;
      @media (max-width: 1320px) {
        font-size: 14px;
      }
    }

    &-number {
      text-align: right;
      margin-top: 16px;
      font-family: $nunito_semibold;
      font-weight: 600;
      font-size: 24px;
      color: $textColor;
      cursor: pointer;
      text-decoration: underline;
      @media (max-width: 1320px) {
        font-size: 16px;
      }
    }
  }

  &__companies {
    &-text {
      margin-top: 32px;
      font-family: $nunito_bold;
      font-weight: 700;
      font-size: 28px;
      color: $textColor;
      transition: all 0.3s ease;

      @media screen and (max-width: 960px) {
        font-size: 16px;
      }
    }

    &-images {
      margin-top: 38px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
      transition: all 0.3s ease;

      @media (max-width: 1320px) {
        gap: 70px;
      }
      @media (max-width: 1130px) {
        gap: 50px;
      }
      @media (max-width: 1025px) {
        gap: 30px;
      }
    }

    &-img {
      max-width: 100px;
      max-height: 100px;
      object-fit: contain;
    }
  }
}

.contact {
  margin-top: 128px;

  &__inner {

  }

  &__title {
    display: flex;
    align-items: center;

    @media screen and (max-width: 960px) {
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
    }

  }

  &__text {
    font-family: $nunito_regular;
    font-weight: 400;
    font-size: 24px;

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__date {
    text-align: right;
    font-family: $nunito_semibold;
    font-weight: 600;
    font-size: 20px;
    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__number {
    a {
      display: block;
      font-family: $nunito_semibold;
      font-weight: 600;
      font-size: 20px;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }

  }

  &__wrap {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 600px) {
      margin-top: 12px;
      width: auto;
    }
  }

  &__card {
    margin-top: 20px;
    border-radius: 15px;

    @media (max-width: 600px) {
      width: 100%;
      height: 300px;
    }


    @media (min-width: 601px) and (max-width: 1024px) {
      width: 100%;
      height: 400px;
    }


    @media (min-width: 1025px) {
      width: 100%;
      height: 600px;
    }
  }
}

.mobile__menu {
  position: fixed;
  top: 112px;
  background-color: $white;
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 100px);
  width: 100vw;
  z-index: 999;
  transition: all 0.5s;
  transform: translateX(-960px);
  &.show {
    transform: translateX(0);
  }
}

