<section  *ngIf="isMobile">
  <app-menu class="mobile__menu" [class.show]="!(isBurgerClose$ | async)"></app-menu>
</section>

<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <h3 class="banner__title">Найкращі українські та європейські бренди</h3>
      <div class="banner__text">Доставка нашої продукції по місту та області</div>
      <div class="banner__country">
        <img src="assets/icons/banner-icon/germany.svg" alt="germany-icon" class="banner__country-img">
        <img src="assets/icons/banner-icon/italy.svg" alt="italy-icon" class="banner__country-img">
        <img src="assets/icons/banner-icon/niderlands.svg" alt="niderlands-icon" class="banner__country-img">
        <img src="assets/icons/banner-icon/poland.svg" alt="poland-icon" class="banner__country-img">
        <img src="assets/icons/banner-icon/ukraine.svg" alt="ukraine-icon" class="banner__country-img">
      </div>
      <div class="banner__info">
        <p class="banner__info-text">більше <b>15</b> років на ринку</p>
        <p class="banner__info-text">більше <b>1000</b> постійних клієнтів</p>
      </div>
    </div>
  </div>
</section>

<section class="bestseller">
  <div class="container">
    <div class="bestseller__title">
      <img src="assets/icons/title-icon/bestseller-icon.svg" alt="bestseller-icon">
      <h1 class="title title-one">Хіт продажів</h1>
    </div>
    <div class="bestseller__inner">
      <div class="bestseller__list" *ngIf="bestSellers.length; else loader">
        <app-product-card *ngFor="let bestSeller of bestSellers" [product]="bestSeller"></app-product-card>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</section>

<section class="product" id="categories">
  <div class="container">
    <div class="product__inner">
      <div class="product__item" *ngFor="let category of categories">
        <a [routerLink]="'/categories/' + category.slug" class="product__item-link">
          <h2 class="title title-two">{{category.name}}</h2>
          <img [src]="category.image" [alt]="category.name">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="container">
    <div class="delivery__title">
      <img src="assets/icons/title-icon/delivery-icon.svg" alt="delivery-icon">
      <h1 class="title title-one">Доставка</h1>

    </div>
    <div class="delivery__info">
      <div class="delivery__info-text">Ми здійснюємо доставку нашої продукції відповідно до нашого маршрутного листа,
        який гарантує швидку та ефективну доставку замовлень.
        Або видаємо замовлення з точок наших партнерів.<br> <br> При замовленні на суму понад <b>10 000 гривень</b> ми
        привезимо товари прямо до вас!
      </div>
      <div class="delivery__order">
        <div class="delivery__order-wrap">
          <div class="delivery__date">
            <div class="delivery__order-text">Самовивіз здійсюється за адресою:</div>
            <div class="delivery__info-active"><a href="#">Вулиця: Морозова 11 | Пн-Сб: 08:00 - 16:00</a></div>
          </div>
          <div class="delivery__number">
            <div class="delivery__order-text">Деталі доставки найкраще уточнити у адміністратора:</div>
            <div class="delivery__info-active"><a href="#">Подзвонити: (00) 1234 5678</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="reviews" id="reviews">
  <div class="reviews__inner">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of slides">
        <img [src]="slide.src" alt="review_icon" class="reviews__img">
        <div class="reviews__text">{{slide.text}}
        </div>
        <div class="reviews__name">- {{slide.name}}</div>
      </ng-template>

    </owl-carousel-o>
  </div>
</section>

<section class="cooperation" id="cooperation">
  <div class="container">
    <div class="cooperation__inner">
      <div class="cooperation__title">
        <img src="assets/icons/title-icon/cooperation-icon.svg" alt="cooperation-icon">
        <h1 class="title title-one">Співпраця</h1>
      </div>
      <div class="cooperation__info">
        <div class="cooperation__info-text">Наш оптовий магазин є одним з видатних покупців товарів на оптовому ринку.
          Ми маємо солідний досвід і сталі ділові стосунки з виробниками і постачальниками,
          що дозволяє нам пропонувати вигідні умови співпраці.
          Звертаючись до нас, виробники і постачальники отримують надійного і стабільного партнера,
          готового до взаємовигідної і довгострокової співпраці.
        </div>
        <div class="cooperation__order">
          <div class="cooperation__order-text">З питань співпраці звертайтесь:</div>
          <div class="cooperation__order-number"><a href="#">+38(050)000-00-00</a></div>
        </div>
      </div>

      <div class="cooperation__companies">
        <div class="cooperation__companies-text">З нами вже працюють:</div>
        <div class="cooperation__companies-images">
          <img src="assets/images/cooperation/1.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/2.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/3.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/4.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/5.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/6.png" alt="companies-img" class="cooperation__companies-img">
          <img src="assets/images/cooperation/7.png" alt="companies-img" class="cooperation__companies-img">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="container">
    <div class="contact__inner">
      <div class="contact__title">
        <img src="assets/icons/title-icon/contact-icon.svg" alt="contact-icon">
        <h1 class="title title-one">Контакти</h1>
      </div>
      <div class="contact__info">
        <div class="contact__text">Відвідайте наш магазин за адресом, <b>Морозова 11</b></div>
        <div class="contact__wrap">
          <div class="contact__date">
            <p>Пн-Cб: 8:00 - 16:00</p>
            <p>Вс: Вихідний</p>
          </div>
          <div class="contact__number">
            <a href="#">+38(050)000-00-00</a>
            <a href="#">+38(050)000-00-00</a>
          </div>
        </div>
      </div>

      <iframe class="contact__card"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.686755719742!2d36.28521676003789!3d49.96097827623005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41270a8a5117905b%3A0xd8738e40a8e3a75f!2z0KfRg9C00L4g0JHQsNC30LA!5e0!3m2!1suk!2sua!4v1682428478391!5m2!1suk!2sua"
              width="1398" height="600" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
