<!--<ul>-->
<!--  <li *ngFor="let product of productList">-->
<!--    <a [routerLink]="product.id + ''">{{product.name}}</a>-->
<!--  </li>-->
<!--</ul>-->

<!--<div>-->
<!--  <button (click)="changePage('first')" [disabled]="currentPage === 1">first</button>-->
<!--  <button (click)="changePage(page)" *ngFor="let page of pages" [class.active]="page === currentPage">-->
<!--    {{page}}-->
<!--  </button>-->
<!--  <button (click)="changePage('last')" [disabled]="currentPage === pagesCount">last</button>-->
<!--</div>-->


<app-breadcrumbs></app-breadcrumbs>

<div class="product-list">
  <div class="container">
    <div class="product-list__info">
      <img class="product-list__info-img" src="assets/icons/product-list/{{slugName}}-icon.svg" alt="{{slugName}}-icon">
      <div class="product-list__info-name">{{categoryName}}</div>
      <div class="product-list__info-count"> {{20}}</div>
      <div class="filter-tag" *ngIf="(filterTags$ | async)?.length">
        <button (click)="resetFilter()" class="filter-tag__reset">Очистити фільтри
          <img src="assets/icons/btn-reset.svg" alt="btn-reset"></button>
        <button (click)="deleteFilterTag(tag)" *ngFor="let tag of filterTags$ | async"
                class="filter-tag__close">{{tag[1]}}
          <img src="assets/icons/btn-close.svg" alt="btn-close"></button>
      </div>
    </div>

    <div class="product-list__inner">
      <div class="product-list__filters">
        <h1 class="product-list__filters-title">Фільтри</h1>

        <div>
          <h2 class="product-list__filters-head">Ціна</h2>
            <ngx-slider [(value)]="minPriceValue" [(highValue)]="maxPriceValue" [options]="options"></ngx-slider>
        </div>


        <div *ngFor="let filterGroup of filterState$ | async">
          <h2 class="product-list__filters-head">{{filterGroup?.key}}</h2>
          <div class="product-list__filters-value" *ngFor="let filterField of filterGroup?.values">
            <label class="filter__container" [for]="filterGroup.key + '_' + filterField.value">
              {{filterField.value || 'test'}}
              <input
                type="checkbox"
                checked="checked"
                (input)="toggleFilterValue(filterGroup.key_en, filterField, $event)"
                [id]="filterGroup.key + '_' + filterField.value"
                [disabled]="!filterField.isChecked && !filterField.isActive"
                [checked]="filterField.isChecked"
              >
              <span class="checkmark" [class.disabled]="filterFieldIsDisable(filterField)"></span>
            </label>

            <!--            <label class="container1">-->
            <!--              {{filterField.value || 'test'}}-->
            <!--              <input-->
            <!--                (input)="toggleFilterValue(filterGroup.key_en, filterField, $event)"-->
            <!--                [id]="filterGroup.key + '_' + filterField.value"-->
            <!--                [disabled]="!filterField.isChecked && !filterField.isActive"-->
            <!--                [checked]="filterField.isChecked"-->
            <!--                type="checkbox"-->
            <!--                checked="checked"-->
            <!--              >-->
            <!--              <span class="checkmark" [class.disabled]="filterFieldIsDisable(filterField)"></span>-->
            <!--            </label>-->
          </div>

        </div>
      </div>
      <div class="products">
        <div class="products__inner">
          <app-product-card *ngFor="let product of productList" [product]="product"></app-product-card>
        </div>
      </div>

    </div>
    <div class="pagination">
      <button class="pagination__page"><span><</span></button>
      <button class="pagination__page"><span>1</span></button>
      <button class="pagination__page"><span>2</span></button>
      <button class="pagination__page"><span>3</span></button>
      <button class="pagination__page"><span>></span></button>
    </div>

  </div>
</div>

