<!--<ul>-->
<!--  <li *ngFor="let product of productList">-->
<!--    <a [routerLink]="product.id + ''">{{product.name}}</a>-->
<!--  </li>-->
<!--</ul>-->

<!--<div>-->
<!--  <button (click)="changePage('first')" [disabled]="currentPage === 1">first</button>-->
<!--  <button (click)="changePage(page)" *ngFor="let page of pages" [class.active]="page === currentPage">-->
<!--    {{page}}-->
<!--  </button>-->
<!--  <button (click)="changePage('last')" [disabled]="currentPage === pagesCount">last</button>-->
<!--</div>-->


