@import "assets/scss/reset";
@import "assets/scss/setting";

body {
  font-family: $nunito_regular;
  color: $textColor;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}
