@import "src/assets/scss/setting";

.product__count {
  display: flex;
  max-width: 210px;
  height: 60px;

  @media screen and (max-width: 1090px) {
    max-width: 120px;
    max-height: 30px;
  }

  > input {
    width: 80px;
    background: #F5F7FF;
    font-family: $nunito_semibold;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    border: 1px solid #DDDCDF;

    @media screen and (max-width: 1090px) {
      width: 50px;
      font-size: 24px;
    }
  }

  &-plus, &-minus {
    width: 65px;
    border: 1px solid #DDDCDF;
    background: $white;
    cursor: pointer;
    color: #DDDCDF;
    font-size: 30px;


    @media screen and (max-width: 1090px) {
      font-size: 18px;
    }

    &:hover {
      transition: 0.2s;
      color: $dark_blue;
    }


  }
  &-minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &-plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
